.button-container {
  background-color: var(--accent-100);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: var(--text-100);
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s,
    background-color 0.15s ease-in, box-shadow 0.15s ease-in;
}

.button-container:disabled {
  background-color: var(--bg-300);
  color: var(--text-200);
  cursor: not-allowed;
  box-shadow: none;
  transform: scale3d(1, 1, 1) !important;
}

.button-container:hover {
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
}
