.scrum-actions {
  width: 80%;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.scrum-actions__button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--main-btn);
  color: var(--text-100);
  font-size: 16px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 2px 0px rgb(5 5 5 / 36%);
  transition: background-color 0.2s;
}

.scrum-actions__button:hover {
  background-color: var(--main-btn-hover);
  transition: background-color 0.2s;
}
