.voting-results__container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 24px;
  margin-bottom: 24px;
}

.voting-results__item,
.voting-results__item--voted {
  border-radius: 4px;
  height: 150px;
  color: var(--text-100);
  background-color: var(--bg-200);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.voting-results__item--voted {
  background-color: var(--primary-200);
}

.voting-results__title {
  font-size: 1rem;
}

.voting-results__value {
  font-size: 3rem;
}

.edit-vote__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: none;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  background-color: transparent;
  transition: background-color 0.15s;
}

.edit-vote__icon:hover {
  background-color: rgba(44, 103, 100, 0.439);
  transition: background-color 0.15s;
}
